.padre {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding: 25px;
  padding-right: 0;
  background: var(--olive-drab-200);
}

.documentacion {
  background: var(--olive-drab-300);
  height: auto;
  width: 400px;
  color: var(--olive-drab-900);
  border-radius: 30px;
}

.catalogo {
  background: var(--olive-drab-300);
  height: auto;
  width: 400px;
  color: var(--olive-drab-900);
  border-radius: 30px;
}

.gestion {
  background: var(--olive-drab-300);
  height: auto;
  width: 400px;
  color: var(--olive-drab-900);
  border-radius: 30px;
}

.btn-1 {
  background: rgb(116, 69, 9);
  color: white;
  border-radius: 100%;
  margin-bottom: 20px;
}

.img {
  width: 400px;
  height: 400px;
  padding: 20px;
}

.titulo {
  padding-top: 20px;
}

.descripcion {
  padding: 20px;
}

.body-carrusel {
  background: var(--olive-drab-200);
}

.img-carrusel {
  width: 1000px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
}

.h2-carrusel {
  background: transparent;
  backdrop-filter: blur(5px);
  color: var(--olive-drab-900);
}
