/* BENEFICIOS */

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--olive-drab-200);
  color: var(--olive-drab-900);
}

.titulo-h3 {
  background: var(--olive-drab-300);
  border-radius: 60px;
  color: var(--olive-drab-900);
  padding: 15px;
  margin: 20px;
  transition: background-color 0.3s ease;
}

.beneficios {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding: 25px;
  padding-right: 0;
  background: var(--olive-drab-200);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.beneficios-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--olive-drab-300);
  color: var(--olive-drab-900);
  padding: 10px;
}

.img-beneficio {
  width: 400px;
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafos {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--olive-drab-300);
}

.beneficio-1 {
  background: var(--olive-drab-300);
  color: var(--olive-drab-900);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.beneficio-2 {
  background: var(--olive-drab-300);
  color: var(--olive-drab-900);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.beneficio-3 {
  background: var(--olive-drab-300);
  color: var(--olive-drab-900);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
