.mainPag{
    text-align: center;
}
.h2-color{
    background: var(--olive-drab-300) ;
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px var(--olive-drab-800);
    color: var(--olive-drab-900);
    flex-direction: column;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.divSection{
    background: #905918;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

}

