.sectionPag1{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.sectionPag2{
    text-align: center;
    margin: 30px;
    color: var(--olive-drab-900);
}



.Padre{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);

}

.hijo1{
    grid-column: 2;
    border: solid black 1px;
    width: 300px;
    height: 300px;
}

.hijo2{
    grid-column: 3;
    border: solid black 1px;
    width: 300px;
    height: 300px;
    border-radius: 10px 130px / 150px 130px;
    -webkit-border-radius: 10px 130px / 150px 130px;
    -moz-border-radius: 10px 130px / 150px 130px;
    -ms-border-radius: 10px 130px / 150px 130px;
    -o-border-radius: 10px 130px / 150px 130px;
}

.hijo3{
    grid-column: 2;
    border: solid black 1px;
    width: 300px;
    height: 300px;
    grid-row: 2;
}

.hijo4{
    grid-column: 3;
    grid-row: 2;
    border: solid black 1px;
    width: 300px;
    height: 300px;
    border-radius: 10px 130px / 150px 130px;
    -webkit-border-radius: 10px 130px / 150px 130px;
    -moz-border-radius: 10px 130px / 150px 130px;
    -ms-border-radius: 10px 130px / 150px 130px;
    -o-border-radius: 10px 130px / 150px 130px;
}


.divMain{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--olive-drab-950);
    flex-direction: column;
    background: var(--olive-drab-400);
    box-shadow: 0px 0px 15px var(--olive-drab-300) inset, 10px 15px 10px var(--olive-drab-800);
    width: 300px;
    height: 300px;
    border: solid black 1px;
    border-radius: 10px 130px / 150px 130px ;
    margin: 0px;
    padding: 0px;
    -webkit-border-radius: 10px 130px / 150px 130px ;
    -moz-border-radius: 10px 130px / 150px 130px ;
    -ms-border-radius: 10px 130px / 150px 130px ;
    -o-border-radius: 10px 130px / 150px 130px ;
}


.divMain:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}